  
    select {
      
      font-size: 20px;
      text-align: center;
      height: 30px;
      line-height: 3;
      
      
      border-radius: 5px;
  }

select option{
  font-size: 20px;
}

input[type=submit] {
  background: rgb(161, 219, 164);
  border-radius: 5px;
  font-size: 20px;
}

#chart {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

#chart2 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


body {
    background: rgb(165, 197, 159);
    width: auto;
    height: auto;
    margin: 5% 5%;
    border: 2px solid;
    text-align: center;
  }
 
  h3 {
    margin-bottom: 50px;
  }

  #listText {
    font-size: 16px;
  }